Source: olpc-activities
Section: misc
Priority: optional
Maintainer: James Cameron <quozl@laptop.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.2

Package: olpc-activities
Architecture: all
Depends: sucrose (>= 0.106.0)
 ,python-jarabe (>= 0.106.0)
 ,sugar-session (>= 0.106.0)
 ,sugar-themes (>= 0.106.0)
 ,sugar-icon-theme (>= 0.106.0)
 ,gtk2-engines-sugar (>= 0.106.0)
 ,python-carquinyol (>= 0.106.0)
 ,python-sugar3 (>= 0.106.0)
 ,libsugarext0 (>= 0.106.0)
 ,libsugarext-data (>= 0.106.0)
 ,gir1.2-sugarext-1.0 (>= 0.106.0)
 ,python-sugar (>= 0.98.0)
 ,python-sugar-toolkit (>= 0.98.1)
 ,sugar-presence-service (>= 0.90.2)
 ,sugar-browse-activity
 ,sugar-terminal-activity
Recommends: sugar-abacus-activity
 ,sugar-calculate-activity
 ,sugar-chart-activity
 ,sugar-chat-activity
 ,sugar-clock-activity
 ,sugar-develop-activity
 ,sugar-distance-activity
 ,sugar-finance-activity
 ,sugar-fototoon-activity
 ,sugar-fractionbounce-activity
 ,sugar-gears-activity
 ,sugar-get-books-activity
 ,sugar-help-activity
 ,sugar-imageviewer-activity
 ,sugar-implode-activity
 ,sugar-jukebox-activity
 ,sugar-labyrinth-activity
 ,sugar-letters-activity
 ,sugar-log-activity
 ,sugar-maze-activity
 ,sugar-measure-activity
 ,sugar-memorize-activity
 ,sugar-moon-activity
 ,sugar-music-keyboard-activity
 ,sugar-paint-activity
 ,sugar-pippy-activity
 ,sugar-physics-activity
 ,sugar-poll-activity
 ,sugar-portfolio-activity
 ,sugar-read-activity
 ,sugar-record-activity
 ,sugar-simple-en-wiki-activity
 ,sugar-speak-activity
 ,sugar-stopwatch-activity
 ,sugar-story-activity
 ,sugar-words-activity
 ,sugar-write-activity
 ,art4apps
 ,art4apps-images
 ,art4apps-audio-en
 ,art4apps-audio-fr
 ,art4apps-audio-es
Conflicts: sugar-image-viewer-activity
Description: Sugar Activities for OLPC OS
 A sample set of activities based on previous releases.
